In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df=pd.read_csv(r"C:\Users\HP\PycharmProjects\JupyterProject1\Iris_missingdata.csv")
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,NaN,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,NaN,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [5]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [6]:
df['Species']=le.fit_transform(df['Species'])

In [7]:
df

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0      1            5.1           3.5            1.4           0.2        0
1      2            4.9           3.0            1.4           0.2        0
2      3            4.7           3.2            1.3           0.2        0
3      4            NaN           3.1            1.5           0.2        0
4      5            5.0           3.6            1.4           0.2        0
..   ...            ...           ...            ...           ...      ...
145  146            6.7           3.0            5.2           2.3        2
146  147            6.3           NaN            5.0           1.9        2
147  148            6.5           3.0            5.2           2.0        2
148  149            6.2           3.4            5.4           2.3        2
149  150            5.9           3.0            5.1           1.8        2

[150 rows x 6 columns]

In [8]:
from sklearn.preprocessing import MinMaxScaler
minmax=MinMaxScaler()

In [10]:
x=df[['SepalLengthCm','SepalWidthCm','PetalLengthCm','PetalWidthCm']]
x

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0              5.1           3.5            1.4           0.2
1              4.9           3.0            1.4           0.2
2              4.7           3.2            1.3           0.2
3              NaN           3.1            1.5           0.2
4              5.0           3.6            1.4           0.2
..             ...           ...            ...           ...
145            6.7           3.0            5.2           2.3
146            6.3           NaN            5.0           1.9
147            6.5           3.0            5.2           2.0
148            6.2           3.4            5.4           2.3
149            5.9           3.0            5.1           1.8

[150 rows x 4 columns]

In [11]:
y=df['Species']
y

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: Species, Length: 150, dtype: int64

In [12]:
x1=minmax.fit_transform(x)
x1

array([[0.2       , 0.625     , 0.06779661, 0.04166667],
       [0.14285714, 0.41666667, 0.06779661, 0.04166667],
       [0.08571429, 0.5       , 0.05084746, 0.04166667],
       [       nan, 0.45833333, 0.08474576, 0.04166667],
       [0.17142857, 0.66666667, 0.06779661, 0.04166667],
       [0.28571429, 0.79166667, 0.11864407, 0.125     ],
       [0.05714286, 0.58333333, 0.06779661, 0.08333333],
       [0.17142857, 0.58333333, 0.08474576, 0.04166667],
       [0.        , 0.375     , 0.06779661, 0.04166667],
       [0.14285714, 0.45833333,        nan, 0.        ],
       [0.28571429, 0.70833333, 0.08474576, 0.04166667],
       [0.11428571, 0.58333333, 0.10169492, 0.04166667],
       [0.11428571, 0.41666667, 0.06779661, 0.        ],
       [       nan, 0.41666667, 0.01694915, 0.        ],
       [0.4       ,        nan, 0.03389831, 0.04166667],
       [0.37142857, 1.        , 0.08474576, 0.125     ],
       [0.28571429, 0.79166667, 0.05084746, 0.125     ],
       [0.2       , 0.625     , 0.06779661, 0.08333333],
       [       nan, 0.75      , 0.11864407, 0.08333333],
       [0.2       , 0.75      , 0.08474576, 0.08333333],
       [0.28571429, 0.58333333, 0.11864407, 0.04166667],
       [0.2       , 0.70833333, 0.08474576, 0.125     ],
       [0.05714286, 0.66666667, 0.        , 0.04166667],
       [0.2       , 0.54166667,        nan, 0.16666667],
       [0.11428571, 0.58333333, 0.15254237,        nan],
       [0.17142857, 0.41666667, 0.10169492, 0.04166667],
       [0.17142857, 0.58333333, 0.10169492, 0.125     ],
       [       nan, 0.625     , 0.08474576, 0.04166667],
       [0.22857143, 0.58333333, 0.06779661, 0.04166667],
       [0.08571429, 0.5       , 0.10169492, 0.04166667],
       [0.11428571,        nan, 0.10169492,        nan],
       [0.28571429, 0.58333333, 0.08474576, 0.125     ],
       [0.22857143, 0.875     , 0.08474576, 0.        ],
       [0.31428571, 0.91666667,        nan, 0.04166667],
       [0.14285714, 0.45833333, 0.08474576, 0.        ],
       [0.17142857, 0.5       , 0.03389831, 0.04166667],
       [0.31428571, 0.625     , 0.05084746, 0.04166667],
       [0.14285714, 0.45833333, 0.08474576, 0.        ],
       [0.        , 0.41666667, 0.05084746, 0.04166667],
       [0.2       , 0.58333333, 0.08474576, 0.04166667],
       [0.17142857, 0.625     , 0.05084746, 0.08333333],
       [0.02857143, 0.125     , 0.05084746, 0.08333333],
       [0.        , 0.5       , 0.05084746, 0.04166667],
       [0.17142857, 0.625     , 0.10169492, 0.20833333],
       [0.2       , 0.75      , 0.15254237, 0.125     ],
       [0.11428571, 0.41666667, 0.06779661, 0.08333333],
       [0.2       , 0.75      , 0.10169492, 0.04166667],
       [0.05714286, 0.5       , 0.06779661, 0.04166667],
       [0.25714286, 0.70833333, 0.08474576, 0.04166667],
       [0.17142857,        nan, 0.06779661,        nan],
       [0.74285714, 0.5       , 0.62711864, 0.54166667],
       [       nan, 0.5       , 0.59322034, 0.58333333],
       [0.71428571, 0.45833333, 0.66101695, 0.58333333],
       [0.31428571, 0.125     , 0.50847458, 0.5       ],
       [0.6       , 0.33333333, 0.61016949,        nan],
       [0.37142857, 0.33333333, 0.59322034, 0.5       ],
       [0.54285714, 0.54166667, 0.62711864, 0.625     ],
       [0.14285714, 0.16666667, 0.38983051, 0.375     ],
       [0.62857143, 0.375     , 0.61016949, 0.5       ],
       [0.22857143, 0.29166667, 0.49152542, 0.54166667],
       [0.17142857, 0.        , 0.42372881, 0.375     ],
       [0.42857143, 0.41666667, 0.54237288, 0.58333333],
       [0.45714286, 0.08333333, 0.50847458, 0.375     ],
       [0.48571429, 0.375     , 0.62711864, 0.54166667],
       [0.34285714, 0.375     , 0.44067797, 0.5       ],
       [0.65714286, 0.45833333, 0.57627119, 0.54166667],
       [0.34285714, 0.41666667, 0.59322034, 0.58333333],
       [0.4       , 0.29166667, 0.52542373, 0.375     ],
       [0.51428571, 0.08333333, 0.59322034, 0.58333333],
       [0.34285714, 0.20833333, 0.49152542, 0.41666667],
       [0.42857143, 0.5       , 0.6440678 , 0.70833333],
       [0.48571429, 0.33333333,        nan,        nan],
       [0.54285714, 0.20833333, 0.66101695, 0.58333333],
       [0.48571429, 0.33333333, 0.62711864, 0.45833333],
       [       nan, 0.375     , 0.55932203, 0.5       ],
       [0.62857143, 0.41666667, 0.57627119, 0.54166667],
       [0.68571429, 0.33333333,        nan, 0.54166667],
       [0.65714286, 0.41666667, 0.6779661 , 0.66666667],
       [0.45714286,        nan, 0.59322034, 0.58333333],
       [0.37142857, 0.25      , 0.42372881, 0.375     ],
       [0.31428571, 0.16666667, 0.47457627, 0.41666667],
       [0.31428571, 0.16666667, 0.45762712, 0.375     ],
       [       nan, 0.29166667, 0.49152542, 0.45833333],
       [0.45714286, 0.29166667, 0.69491525, 0.625     ],
       [0.28571429, 0.41666667, 0.59322034, 0.58333333],
       [0.45714286, 0.58333333, 0.59322034, 0.625     ],
       [0.65714286, 0.45833333, 0.62711864, 0.58333333],
       [0.54285714, 0.125     , 0.57627119, 0.5       ],
       [0.34285714, 0.41666667, 0.52542373, 0.5       ],
       [0.31428571, 0.20833333, 0.50847458, 0.5       ],
       [0.31428571, 0.25      ,        nan, 0.45833333],
       [0.48571429, 0.41666667, 0.61016949, 0.54166667],
       [0.4       , 0.25      , 0.50847458, 0.45833333],
       [0.17142857, 0.125     , 0.38983051, 0.375     ],
       [0.34285714, 0.29166667, 0.54237288, 0.5       ],
       [0.37142857, 0.41666667,        nan, 0.45833333],
       [0.37142857, 0.375     , 0.54237288, 0.5       ],
       [0.51428571, 0.375     , 0.55932203,        nan],
       [0.2       , 0.20833333, 0.33898305, 0.41666667],
       [       nan, 0.33333333, 0.52542373, 0.5       ],
       [0.54285714, 0.54166667, 0.84745763, 1.        ],
       [0.4       , 0.29166667, 0.69491525, 0.75      ],
       [0.77142857, 0.41666667, 0.83050847, 0.83333333],
       [0.54285714, 0.375     , 0.77966102, 0.70833333],
       [0.6       , 0.41666667, 0.81355932, 0.875     ],
       [0.91428571, 0.41666667, 0.94915254, 0.83333333],
       [0.14285714, 0.20833333, 0.59322034, 0.66666667],
       [0.82857143, 0.375     , 0.89830508, 0.70833333],
       [0.65714286, 0.20833333, 0.81355932, 0.70833333],
       [0.8       , 0.66666667, 0.86440678, 1.        ],
       [0.6       , 0.5       , 0.69491525, 0.79166667],
       [0.57142857, 0.29166667, 0.72881356, 0.75      ],
       [0.68571429, 0.41666667, 0.76271186, 0.83333333],
       [0.37142857, 0.20833333, 0.6779661 , 0.79166667],
       [0.4       , 0.33333333, 0.69491525, 0.95833333],
       [0.57142857, 0.5       , 0.72881356, 0.91666667],
       [0.6       , 0.41666667, 0.76271186, 0.70833333],
       [0.94285714, 0.75      , 0.96610169, 0.875     ],
       [0.94285714, 0.25      , 1.        , 0.91666667],
       [0.45714286, 0.08333333,        nan, 0.58333333],
       [0.71428571, 0.5       , 0.79661017, 0.91666667],
       [0.34285714, 0.33333333, 0.66101695, 0.79166667],
       [0.94285714, 0.33333333, 0.96610169, 0.79166667],
       [0.54285714, 0.29166667, 0.66101695, 0.70833333],
       [0.65714286,        nan, 0.79661017, 0.83333333],
       [       nan, 0.5       , 0.84745763, 0.70833333],
       [0.51428571, 0.33333333, 0.6440678 , 0.70833333],
       [0.48571429, 0.41666667, 0.66101695, 0.70833333],
       [0.57142857, 0.33333333, 0.77966102,        nan],
       [0.8       , 0.41666667, 0.81355932, 0.625     ],
       [       nan, 0.33333333, 0.86440678, 0.75      ],
       [1.        , 0.75      , 0.91525424, 0.79166667],
       [0.57142857, 0.33333333, 0.77966102, 0.875     ],
       [0.54285714,        nan, 0.69491525, 0.58333333],
       [0.48571429, 0.25      , 0.77966102, 0.54166667],
       [0.94285714, 0.41666667, 0.86440678, 0.91666667],
       [0.54285714, 0.58333333, 0.77966102, 0.95833333],
       [0.57142857, 0.45833333, 0.76271186, 0.70833333],
       [0.45714286, 0.41666667, 0.6440678 , 0.70833333],
       [0.71428571, 0.45833333, 0.74576271,        nan],
       [0.65714286, 0.45833333, 0.77966102, 0.95833333],
       [0.71428571, 0.45833333, 0.69491525, 0.91666667],
       [       nan, 0.29166667, 0.69491525,        nan],
       [0.68571429, 0.5       , 0.83050847, 0.91666667],
       [0.65714286, 0.54166667, 0.79661017, 1.        ],
       [0.65714286, 0.41666667, 0.71186441, 0.91666667],
       [0.54285714,        nan, 0.6779661 , 0.75      ],
       [0.6       , 0.41666667, 0.71186441, 0.79166667],
       [0.51428571, 0.58333333, 0.74576271, 0.91666667],
       [0.42857143, 0.41666667, 0.69491525, 0.70833333]])

In [13]:
x2=pd.DataFrame(x1, columns=['SepalLengthCm','SepalWidthCm','PetalLengthCm','PetalWidthCm'])
x2

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0         0.200000      0.625000       0.067797      0.041667
1         0.142857      0.416667       0.067797      0.041667
2         0.085714      0.500000       0.050847      0.041667
3              NaN      0.458333       0.084746      0.041667
4         0.171429      0.666667       0.067797      0.041667
..             ...           ...            ...           ...
145       0.657143      0.416667       0.711864      0.916667
146       0.542857           NaN       0.677966      0.750000
147       0.600000      0.416667       0.711864      0.791667
148       0.514286      0.583333       0.745763      0.916667
149       0.428571      0.416667       0.694915      0.708333

[150 rows x 4 columns]

In [14]:
x3=pd.concat([x2,y], axis=1)
x3

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0         0.200000      0.625000       0.067797      0.041667        0
1         0.142857      0.416667       0.067797      0.041667        0
2         0.085714      0.500000       0.050847      0.041667        0
3              NaN      0.458333       0.084746      0.041667        0
4         0.171429      0.666667       0.067797      0.041667        0
..             ...           ...            ...           ...      ...
145       0.657143      0.416667       0.711864      0.916667        2
146       0.542857           NaN       0.677966      0.750000        2
147       0.600000      0.416667       0.711864      0.791667        2
148       0.514286      0.583333       0.745763      0.916667        2
149       0.428571      0.416667       0.694915      0.708333        2

[150 rows x 5 columns]

In [15]:
x3.describe()

       SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm     Species
count     139.000000    143.000000     142.000000    141.000000  150.000000
mean        0.411922      0.437646       0.471234      0.457742    1.000000
std         0.234420      0.180329       0.301310      0.318026    0.819232
min         0.000000      0.000000       0.000000      0.000000    0.000000
25%         0.200000      0.333333       0.101695      0.083333    0.000000
50%         0.400000      0.416667       0.576271      0.500000    1.000000
75%         0.571429      0.541667       0.694915      0.708333    2.000000
max         1.000000      1.000000       1.000000      1.000000    2.000000